<html>
<head>
    <title>Холодное сердце</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 front">
            <h1>Холодное сердце</h1>
            <h2>Вновь за горизонт</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-5 pt-3">
            <p>
                Слышу зов твой, но не хочу<br>
                И приключений я не ищу<br>
                Мне забот хватает, я молю о тишине<br>
                Чтобы смолк твой шёпот, растворился в вышине<br>
            </p><p>
            Ты просто шум, обычный звон в моих ушах<br>
            Всё, что я слышу, отмету, ты просто давний страх<br>
            Все, кого любила я, со мной в этих стенах<br>
            Прощай безликий голос и забудь о моих снах<br>
            Прошла путь тернистый и нового не жду<br>
            Ведь я боюсь, что оступлюсь, коль за тобой пойду<br>
        </p><p>

            Вновь за горизонт<br>
            Вновь за горизонт<br>
            Вновь за горизонт<br>
        </p><p>

            Как же узнать, что уготовано судьбой<br>
            Вдруг тебе я поверю и обернётся всё бедой<br>
            Или ты дух мятежный, что сумел меня понять<br>
            Несёшь надежду мою тайну разгадать<br>
            Каждый день трудней даётся, сила чар моих растёт<br>
            Знаю я, душа моя меня влечёт<br>
        </p><p>

            Вновь за горизонт<br>
            Вновь за горизонт<br>
            Вновь за горизонт<br>
        </p><p>

            Помоги мне, ответь мне<br>
            Кто же ты мне? Покажи мне<br>
            Стой же, куда ты, ведь это не сон<br>
            Я иду за тобой вновь за горизонт<br>
        </p>
        </div>
        <div class="col-6 offset-1 pt-3">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/wBGO3XmHuB8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <form method="POST" action="/download">
                <div class="form-group">
                    <label for="email">Емэйл</label>
                    <input type="email" class="form-control" id="email" name="email" >
                </div>
                <button type="submit" class="btn btn-primary">Скачать мелодию</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
